.generalDiv {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--grey-color);
}

.main {
  max-width: 700px;
  display: flex;
  gap: 32px;
  flex: 1;
  justify-content: center;
  background-color: var(--grey-color);
}

.title {
  color: var(--light-brown);
  font-size: 1.4rem;
}

.divForm {
  width: 330px;
  height: auto;
  background-color: var(--whithe-color);
  border-radius: 5px;
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  gap: 20px;
}

.divInfo {
  width: 330px;
  height: auto;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}